@font-face {
    font-family: DancingScript;
    src: url("./DancingScript.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4c3521;
    height: 100vh;
    font-family: DancingScript, serif;
    color: white;
}

.content {
    background: url("background-img-jays-confections.jpg");
    background-size: cover;
    height: 80%;
    width: 70%;
}

.scrim {
    background-color: rgba(58, 56, 56, 0.53);
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 4rem;
    margin: 15px;
}

.header-button {
    background-color: transparent;
    color: white;
    height: 56px;
    min-height: 56px;
    min-width: 100px;
    border: 1px solid white;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    font-size: 1.5rem;
    font-family: DancingScript, serif;
}


